/*#background-image{
    background-position: 50%; 
    background-size: cover;  
    height: 100%;
    left: 0; 
    position: absolute; 
    top: 0; 
    width: 500px;
    z-index: 1;
} */

#nav-container{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
    align-content: space-around;

}
/* .nav{
    width: 500px;
    margin: 10px;
} */
/* #end{
    align-self: flex-end;
} */

section{
    position:relative;
}

h1.h2{
    position: absolute;
    top: 8px;
    left: 16px;
    margin: 50px 
}